[Unit]
Description=Joplin Mail Gateway
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/<username>/JoplinMailGateway.py

[Install]
WantedBy=multi-user.target